<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let product of productList" (click)="nextChange(product.id)">{{product.name}}</li>
        </ul>
    </div>
</div>
<div class="col-xs-12 col-sm-4">
    <router-outlet></router-outlet>
    <!-- <app-product-list></app-product-list> -->
</div>
<!-- <div class="col-xs-12 col-sm-4">
    <app-edit-product></app-edit-product>
</div> -->